@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, caramellatte;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansThaiLooped';
  src: url('./assets/fonts/IBMPlexSansThaiLooped-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'IBMPlexSansThaiLooped', sans-serif;
}

.go2072408551 {
  @apply !bg-transparent !max-w-none !shadow-none;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-in-two {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes jelly-bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  40% {
    transform: scaleX(1.15) scaleY(0.85);
    opacity: 1;
  }

  60% {
    transform: scaleX(0.95) scaleY(1.15);
  }

  80% {
    transform: scaleX(1.05) scaleY(0.99);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes ping-pong-scroll-with-delay {

  0%,
  15% {
    transform: translateX(0);
  }

  85%,
  100% {
    transform: translateX(var(--marquee-scroll-distance));
  }
}

.animate-bounce-in {
  animation-name: bounce-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.animate-bounce-in-two {
  animation-name: bounce-in-two;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animate-jelly-bounce {
  animation-name: jelly-bounce;
  animation-duration: 0.65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.marquee-wrapper:hover .marquee-ping-pong,
.marquee-wrapper:hover .marquee-text {
  animation-play-state: paused;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-scroll 15s linear infinite;
  animation-play-state: running;
}

.marquee-ping-pong {
  display: inline-block;
  animation: ping-pong-scroll-with-delay var(--marquee-duration, 10s) ease-in-out infinite alternate;
  animation-play-state: running;
}

.fade-edges {
  -webkit-mask-image: linear-gradient(to right,
      transparent 0%,
      black 3%,
      black 98%,
      transparent 100%);
  mask-image: linear-gradient(to right,
      transparent 0%,
      black 3%,
      black 98%,
      transparent 100%);
}

.dataTableWrapper {
  &>div:nth-child(1) {
    @apply rounded-none;
  }

  &>div>div>div>div>div>div>button {
    @apply text-inherit;
  }

  &>div>div>div>div {
    @apply bg-base-100 duration-300 ease-linear h-full;
  }

  &>div>div>div>div>div {
    &>div {
      @apply duration-300 ease-linear;
    }

    @apply bg-transparent !text-base-content !border-b-base-content/10 duration-300 ease-linear;
  }

  &>div>div>div>div:nth-child(2)>div:hover {
    @apply duration-300 ease-linear bg-base-300;
  }

  &>div:nth-child(2)>nav {
    @apply bg-transparent text-base-content border-t-base-content/10 duration-300 ease-linear;

    &>div:nth-child(4)>button:disabled {
      @apply !cursor-not-allowed text-base-content/30 fill-base-content/30;
    }

    &>div:nth-child(4)>button {
      @apply text-base-content fill-base-content;
    }
  }
}

.react-select__control {
  @apply !border-base-content/20 !bg-base-100 !rounded-field h-[40px] !border;
}

.react-select__indicator,
.react-select__dropdown-indicator {
  @apply fill-base-content;
}

.react-select__control--is-focused {
  box-shadow: 0 0 0 1px var(--fallback-p, color(var(--p) / 1)) !important;
}

.react-select__single-value,
.react-select__input-container {
  @apply !text-base-content;
}

.react-select__single-value {
  @apply !text-inherit;
}

.react-select__placeholder {
  @apply !text-base-content/50;
}

.react-select__indicator-separator {
  background-color: var(--fallback-bc, oklch(var(--bc) / 0.25)) !important;
  @apply !divider-horizontal !mx-1 !my-2 !w-[2px];
}

.react-select__indicator,
.react-select__dropdown-indicator {
  &>svg {
    fill: var(--fallback-bc, oklch(var(--bc) / 0.25)) !important;
  }
}

.react-select__menu {
  @apply !bg-base-100 !rounded-field !overflow-hidden !p-2 !w-max;
}

.react-select__menu-list {
  @apply !flex !flex-col !items-center !justify-center !gap-2 !min-w-[130px];
}

.react-select__option {
  @apply !rounded-field !cursor-pointer !px-4;
}

.react-select__option--is-focused {
  @apply !bg-base-300;
}

.react-select__option--is-selected {
  @apply !bg-neutral !text-neutral-content;
}

.custom-react-select {
  &>.react-select__menu>div:nth-child(1) {
    justify-content: unset !important;
  }
}